.flex-container {
  display: flex;
  overflow: hidden;
}

.flex-child {
  padding: 0;
}

#outer-container {
  width: 80%;
  margin: auto;
}

#article-grid {
  width: 70%;
  margin: auto;
  display: flex-block;
}

#article-grid .flex-container {
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  border-radius: 10px 10px 10px 10px;
  /* transition: margin 0.2s ease-in-out; */
  transition: 0.2s ease-in-out;
}

#article-grid .flex-container.large img {
  width: 300px;
}

#article-grid a {
  text-decoration: none;
  color: black;
}

#article-grid .flex-container img {
  width: 200px;
}

#article-grid .flex-container:hover {
  box-shadow: 5px 5px 5px lightgray;
  /* margin-top: 2px; */
  /* transition: margin 0.2 ease-in-out; */
  margin-left: 10px;
  transition: 0.2s ease-in-out;
}

.flex-child.flex-text {
  padding-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: rgb(228, 228, 228);
  width: 70%;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
}

#header-text h1{
  font-size: 30pt;
  margin-bottom: 0;
  margin-top: 0;
}

#header-text p{
  margin-top: 0;
}

.header img {
  height: 75px;
  float: left;
  padding: 10px 20px 20px 20px;
}

